<li class="unordered-list" id="post-<%=post._id%>">
   <p>
       <!-- <% if(locals.user) {%>

          <a class="toggle-like-button" data-likes="<%=post.likes.length %>" href="/likes/toggle/?id=<%=post._id%>&type=Post"> <%=post.likes.length %>Like</a> 
        <%} else {%> 
              <%=post.likes.length %> Likes
           <%  } %>  -->
            <%=post.content %>
            
            <br>
            -Posted by
          <small>
             <%=post.user.name %> 
          </small>
          <br>
            <% if(locals.user && locals.user.id==post.user.id) { %>
               <div class="delete-box">
                  <a href="/posts/destroy/<%=post.id%>" class="delete-button" id="delete-post-button"> Delete  Post</a>
               </div> 
               <%} %>
   </p>        


<div class="post-comments">
 <% if(locals.user){ %>
    <form action="/comments/create" method="POST" >
       <input type="text" name="content" placeholder="type here to add comment ..." required>
       <input type="hidden" name="post" value="<%=post.id %>">
        <button type="submit">
           Add Comment
       </button>
      </form>
 <% } %>
   
 <div id="post-comments-list">
   <ul id="post-comments-<%=post.id %>">
      <% for(comment of post.comments){%>
         <%- include('_comments') -%>
      <%} %>
   </ul>

</div>
</div>
         
 
</li>
